version: '3.5'

services:
  coursenip-mailer:
    container_name: coursenip-mailer
    build:
      context: docker/php
      args:
        UID: $U_ID
    environment:
      PHP_IDE_CONFIG: serverName=Docker
      PHP_XDEBUG_ENABLED: 1
      XDEBUG_CONFIG: remote_host=$HOST remote_port=9005
    volumes:
      - ./:/appdata/www
      - ~/.ssh/id_rsa:/home/appuser/.ssh/id_rsa
    depends_on:
      - coursenip-mailer-db
    networks:
      - coursenip-network

  coursenip-mailer-db:
    container_name: coursenip-mailer-db
    image: mysql:8.0
    ports:
      - 31100:3306
    environment:
      MYSQL_DATABASE: mailer
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: root
    command: mysqld --sql_mode="STRICT_ALL_TABLES,NO_ENGINE_SUBSTITUTION"
    volumes:
      - coursenip-mailer-db-data:/var/lib/mysql
    networks:
      - coursenip-network

  coursenip-mailcatcher:
      container_name: coursenip-mailcatcher
      image: schickling/mailcatcher
      ports:
        - 1080:1080
        - 1025:1025
      depends_on:
        - coursenip-mailer-db
      networks:
        - coursenip-network

volumes:
  coursenip-mailer-db-data:

networks:
  coursenip-network:
    external: true
