version: '3.5'

services:
  coursenip-web:
    container_name: coursenip-web
    build:
      context: ./docker/nginx
      args:
        UID: $U_ID
    ports:
      - 260:80
    volumes:
      - ./public:/appdata/www/public
    depends_on:
      - coursenip-be
    networks:
      - coursenip-network

  coursenip-be:
    container_name: coursenip-be
    build:
      context: docker/php
      args:
        UID: $U_ID
    environment:
      PHP_IDE_CONFIG: serverName=Docker
      PHP_XDEBUG_ENABLED: 1
      XDEBUG_CONFIG: remote_host=172.17.0.1 remote_port=9005 # Linux users
    #      XDEBUG_CONFIG: remote_host=host.docker.internal remote_port=9005 # MacOS users
    volumes:
      - ./:/appdata/www
      - ./docker/php/xdebug-linux.ini:/usr/local/etc/php/conf.d/xdebug.ini
      #      - ./docker/php/xdebug-macos.ini:/usr/local/etc/php/conf.d/xdebug.ini
      - ~/.ssh/id_rsa:/home/appuser/.ssh/id_rsa
    depends_on:
      - coursenip-db
    networks:
      - coursenip-network

  coursenip-db:
    container_name: coursenip-db
    build:
      context: ./docker/database
    ports:
      - 31000:3306
    environment:
      MYSQL_DATABASE: coursenip
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: root
    command: mysqld --sql_mode="STRICT_ALL_TABLES,NO_ENGINE_SUBSTITUTION"
    volumes:
      - coursenip-db-data:/var/lib/mysql
    networks:
      - coursenip-network

volumes:
  coursenip-db-data:

networks:
  coursenip-network:
    external: true
